.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: -webkit-sticky;
  z-index: -1;
}

.bounding-box {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 0 0 5px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}